<h1>Artigos publicados</h1>

<table id='posts' class='table'>
  <thead>
    <tr>
      <th width='30%'>Titulo</th>
      <th>Texto</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class='text-center loading' colspan='2'>Carregando...</td>
    </tr>
  </tbody>
</table>